
{% extends 'base.html' %}

{% block content %}

			<main class="content">
				<div class="container-fluid p-0">

					<div class="mb-3">
						
								
  						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  						<h1 class="h3 d-inline align-middle">Rechercher une declaration effectué </h1>
						<br><br>
  						<p>effectué cette recherche selon plusieurs parametres </p>
					</div>
					<form action="#" method="POST"> 
						<div class="card ">
						<div class=" card-body ">

							<div class=" row ">
								
								<div class="col-4 ">
									<input type="text" class="form-control" placeholder="Nom enfant ">
								</div>
								<div class="col-4 ">
									<input type="text" class="form-control" placeholder="Nom Pere">
								</div>
								<div class="col-4 ">
									<input type="text" class="form-control" placeholder="Nom Mere">
								</div>

							
							</div>
							<div class=" row ">
								
								
								<div class="col-4 ">
									<input type="date" class="form-control" placeholder="Date de naissance">
								</div>
								<div class="col-4 ">
									<input type="text" class="form-control" placeholder="Sexe (M ou F)">
								</div>

								<div class="col-4 ">
									<input type="text" class="form-control" placeholder="Medecin">
								</div>
							</div>
							<br>
							<center><input type="submit" value="Rechercher" class="btn btn-primary"></center>
						</div>
						</div>
					</form>
					<button onClick="imprimer('sectionAimprimer')">Imprimer</button>
					<a href="#" onClick="imprimer('sectionAimprimer')">Imprimer</a>
				

					<div class="row" id='sectionAimprimer' >
								
						<div class="col-12 col-lg-12 col-xxl-12 d-flex ">
							<div class="card flex-fill" >
								<div class="card-header">

									<h5 class="card-title mb-0">Liste des naissances declarées</h5>
								</div>
								<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>Nom enfant</th>
											<th>Prenom enfant</th>
											<th>Sexe </th>
											<th>Date de naissance </th>
											<th>Nom du pere</th>
											<th>Nom de la mere</th>
											<th>Taille</th>
											
										</tr>
									</thead>
									<tbody>
										
										{% for dec in liste_declaration%}
										<tr>
											<td>{{ dec[1] }}</td>
											<td>{{ dec[2] }}</td>
											<td>{{ dec[3] }}</td>
											<td>{{ dec[4] }}</td>
											<td>{{ dec[15] }}</td>
											<td>{{ dec[10] }}</td>
											<td>{{ dec[9] }}</td>
										</tr>
									
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
				
					</div>
				</div>
			</main>


{% endblock %}	