
{% extends 'base.html' %}

{% block content %}

			<main class="content">
				<div class="container-fluid p-0">

					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Subscription </h1>
						
					</div>
					<div class="row">
						

							<div class="col-12 col-md-6">
								<div class="card">
									
									<input type="button" class="btn btn-success" value="Abonné">
								</div>
							</div>
						
						
							<div class="col-12 col-md-6">
								<div class="card">
									
									<input type="button" class="btn btn-danger" value="Expire le 31-12-2024">
								</div>
							</div>
						

						

			

				</div>
			</main>

{% endblock %}